.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  background-image: linear-gradient(to bottom right, #57036a, #381360);
  height: 50px;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  margin-left: 25px;
  color: white;
  cursor: pointer;
  text-align: center;
}
